:root {
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  --text-color-dark: #fff;
  --text-color-success: #fff;
  --text-color-warning: #fff;
  --text-color-error: #fff;
  --text-color-info: #fff;
  --text-color-ligth: #222;

  --background-color-dark: #222;
  --background-color-success: #8dc572;
  --background-color-warning: #f0ad4e;
  --background-color-error: #be6464;
  --background-color-info: #337ab7;
  --background-color-ligth: #fff;

  --arrow-color-dark: #222;
  --arrow-color-success: #8dc572;
  --arrow-color-warning: #f0ad4e;
  --arrow-color-error: #be6464;
  --arrow-color-info: #337ab7;
  --arrow-color-ligth: #fff;

  --border-color-dark: #fff;
  --border-color-success: #fff;
  --border-color-warning: #fff;
  --border-color-error: #fff;
  --border-color-info: #fff;
  --border-color-ligth: #222;

  --line: 1px solid black;
}
